[submodule "pack/mycolors/opt/molokai_dark"]
	path = pack/mycolors/opt/molokai_dark
	url = https://github.com/fcevado/molokai_dark.git
[submodule "pack/mycolors/opt/vim-material-monokai"]
	path = pack/mycolors/opt/vim-material-monokai
	url = https://github.com/skielbasa/vim-material-monokai.git
[submodule "pack/mycolors/opt/vim-monokai-phoenix"]
	path = pack/mycolors/opt/vim-monokai-phoenix
	url = https://github.com/Reewr/vim-monokai-phoenix.git
[submodule "pack/myplugins/start/emmet-vim"]
	path = pack/myplugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/myplugins/start/nerdcommenter"]
	path = pack/myplugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/myplugins/start/vim-autoformat"]
	path = pack/myplugins/start/vim-autoformat
	url = https://github.com/chiel92/vim-autoformat
[submodule "pack/myplugins/start/vim-css-color"]
	path = pack/myplugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/myplugins/start/vim-json"]
	path = pack/myplugins/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/myplugins/start/vim-surround"]
	path = pack/myplugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/myplugins/start/vim-trailing-whitespace"]
	path = pack/myplugins/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "pack/myplugins/start/vim-jsx-pretty"]
	path = pack/myplugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/myplugins/start/nerdtree-git-plugin"]
	path = pack/myplugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/myplugins/start/vim-indent-guides"]
	path = pack/myplugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/myplugins/start/syntastic"]
	path = pack/myplugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/myplugins/start/vim-unimpaired"]
	path = pack/myplugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/myplugins/start/vim-polyglot"]
	path = pack/myplugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
